@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background: radial-gradient(50% 50% at 50% 50%, #292850 0%, #3889B6 50%, #373351 100%),
    linear-gradient(0deg, #738D8C, #738D8C),
    linear-gradient(0deg, rgba(144, 209, 205, 0.2), rgba(144, 209, 205, 0.2));
}

body {
    background: radial-gradient(50% 50% at 50% 50%, #292850 0%, #3889B6 50%, #373351 100%),
    linear-gradient(0deg, #738D8C, #738D8C),
    linear-gradient(0deg, rgba(144, 209, 205, 0.2), rgba(144, 209, 205, 0.2));
}

.pos-absolute {
    position: absolute !important;
}